<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32011" type="text"   id="video" default="panorama,filmai,sportas-orai,dienos-tema,klauskite-daktaro,"/>
        <setting type="sep"/>
        <setting label="32012" type="text"   id="full" default=""/>
    </category>
</settings>