<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32011" type="text" id="video" default=""/>
        <setting type="sep"/>
        <!--        <setting label="32012" type="text"   id="full" default=""/>-->
        <setting id="v_panorama" type="bool" label="32013" default="true"/>
        <setting id="v_sportas" type="bool" label="32014" default="true"/>
        <setting id="v_klauskite_daktaro" type="bool" label="32015" default="true"/>
        <setting id="v_filmai" type="bool" label="32016" default="true"/>
    </category>
</settings>
